body {
  background-color: lightblue;
}


.panel {
  margin-top: auto;
  margin-left: auto;
  text-align: center;
  border-style: double;
  border-width: 20px;
  border-color: lightblue;
  padding: 5px;
}

.right {
  text-align: center
}

#robot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
}


#gear {
display: block;
margin: auto;
text-align: center;
width:70%;


}

h1 {
  text-align: right;
}

.result {
  text-align: left;
  padding-top: 4px;
}

